



.title {
  
}
/* Main name KEVIN TRUONG */
h1 {
  font-family: "Ariel", sans-serif;
  color: #ffd5c0;
  font-size: 50px;
  margin: 30px;
  padding-top: 10px;
}

/* Interactive Journalism */
h2 {
    color: grey;
  	margin: 30px;
  	font-style: italic;
 }
/* Assignment names */
 h3 {
    font-family: "Ariel", sans-serif;
    color:pink;
    font-size: 40px;
    padding: 80px 0; /* bring assignment names more towards center */
 }

h4 {
    
}


 /* main box for three assignment columns */
.row {
	text-align: center
	

}
/* individual boxes for three assignment columns */
 .column {
  float: left;
  width: 25%;
  
  text-align: center;
  height: 500px;
  margin: 20px;
  display: inline-block;



    
}
/* main box for contact information */
.column2 {
  float: left;
  width: 25%;
  
  text-align: center;
  height: 50px;
  margin: 20px;
  display: inline-block;
  margin-top: 60px;

    
}


/* ids for individual assignment boxes */
#pink {
  background-image: url(images/iconsdark.jpg);
}

#blue {
  background-image: url(images/chartsdarker.jpg);
  
}

#yellow {
  background-image: url(images/prideparadedarker.jpg)
  
}

/* styling for link colors */

/* unvisited link */
a:link {
  color: pink;
}

/* visited link */
a:visited {
  color: pink;
}

/* mouse over link */
a:hover {
  color: #F20056;
}

/* selected link */
a:active {
  color: blue;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}




